<mat-card>
  <ngx-alerts></ngx-alerts>
  <mat-card-content class="">
    <div class="input-filter d-flex pb-4 mt-4">
      <div class="input-group mat-elevation-z5">
        <div class="input-group-prepend">
          <span class="input-group-text rounded-3xl" id="basic-addon1">
            <i class="bx bx-search"></i>
          </span>
        </div>
        <input
          type="text"
          class="form-control text-right"
          placeholder=" ابحت عن اسم المريض او كود المريض"
          aria-label="Username"
          aria-describedby="basic-addon1"
          [(ngModel)]="Name"
          (keyup)="filter($event)"
          style="
            font-size: 16px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 400;
          "
        />
      </div>
      <nz-select
        class="mat-elevation-z5 w-[250px] mr-4 h-[39px]"
        style="
          color: #4f6466;
          border-radius: 15px;
          background: #eee;
          text-decoration: rtl;
          text-align: right;
          font-size: 18px;
          align-items: center;
        "
        nzAllowClear
        nzPlaceHolder="نوع الكشف"
        [(ngModel)]="typeSelected"
        (ngModelChange)="filter($event)"
      >
        <nz-option nzLabel="كشف جديد" nzValue="كشف جديد"></nz-option>
        <nz-option nzLabel="اعادة الكشف" nzValue="اعادة كشف"></nz-option>
        <nz-option nzLabel="متابعة" nzValue="متابعة"></nz-option>
      </nz-select>
      <!-- <mat-select
        type="text"
        class="form-control text-right mat-elevation-z5"
        placeholder="نوع الكشف"
        [(value)]="typeSelected"
        [(ngModel)]="typeSelected"
        (ngModelChange)=" filter($event)"
      >
        <mat-option class="text-right" value="كشف جديد">كشف جديد</mat-option>
        <mat-option class="text-right" value="اعادة كشف">اعادة كشف</mat-option>
        <mat-option class="text-right" value="متابعة">متابعه</mat-option>

      </mat-select> -->
      <!-- <nz-date-picker  nzPlaceHolder="تاريخ الكشف" [nzSize]="size"> <span nz-icon nzType="calendar" nzTheme="twotone"></span></nz-date-picker> -->

      <!-- <input
        class="date form-control mat-elevation-z5  mr-7"
        placeholder="تاريخ الكشف"
        [matDatepicker]="picker"
        [(ngModel)]="newFilterDate"
        (ngModelChange)=" filter($event)"

      />
      <mat-datepicker-toggle matSuffix [for]="picker">
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker> -->
      <nz-date-picker
        class="mr-4 mat-elevation-z5"
        [(ngModel)]="newFilterDate"
        (ngModelChange)="filter($event)"
        nzPlaceHolder="تاريخ الكشف"
        [nzSize]="size"
      >
        <span nz-icon nzType="calendar" nzTheme="twotone"></span>
      </nz-date-picker>
    </div>
    <div class="col">
      <mat-spinner *ngIf="loading" class="d-flex " style="margin: 200px auto;"></mat-spinner>
    </div>
    <div class="content">
      <h1 *ngIf="filteredData$.length==0&&loading==false" style="color:#4f6466 ;text-align: center;margin-top: 200px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight: 400;">لايوجد كشوفات للمرضي</h1>
      <div fxLayout="row wrap" class="overflow-scroll max-h-[635px]">
        <div *ngFor="let num of filteredData$" data-aos="fade-up">
          <mat-card class="mat-elevation-z5 mt-3 mr-3 float-right col">
            <mat-card-content>
              <div class="row">
                <div class="col-6">
                  <div class="h2">
                    <span>الاسم</span>
                    <h1>{{ num.name }}</h1>
                  </div>
                  <div class="h2">
                    <span>نوع الكشف</span>
                    <h1>{{ num.examination_type }}</h1>
                  </div>
                  <div class="h2">
                    <span>تاريخ الحجز</span>
                    <h1>{{ num.date | date: 'yyyy-MM-dd' }}</h1>
                  </div>
                </div>
                <div class="col text-right">
                  <div class="h2">
                    <span>رقم التليفون</span>
                    <h1>{{ num.phone_number }}</h1>
                  </div>
                  <div class="h2">
                    <span>سعر الكشف</span>
                    <h1 class="mr-4">ج {{ num.price }}</h1>
                  </div>
                  <div class="h2">
                    <span>رقم الكشف</span>
                    <h1 class="mr-5">{{ num.number }}</h1>
                  </div>
                </div>
              </div>
              <button
                mat-raised-button
                type="button"
                class="btns float-left"
                (click)="showPaymentModal(num.patient_id, num.examination_id)"
              >
                دفع
              </button>
              <button
                mat-button
                class="edit float-left"
                (click)="showEditModal(num.patient_id, num.examination_id)"
              >
                تعديل
              </button>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <nz-modal
        [nzWidth]="600"
        class="mat-elevation-z5"
        [(nzVisible)]="isVisible"
        nzTitle=" الدفع"
        (nzOnCancel)="handleCancel()"
        (nzOnOk)="handleOk()"
      >
        <ng-container *nzModalContent>
          <div class="row pt-4 pb-2 mat-elevation-z5 modalcontent">
            <div class="col text-right">
              <div class="info-text">
                <span class="text-lg" style="color: #4f6466;">الاسم</span>
                <h2 class="">{{ PatientPayment.patientName }}</h2>
              </div>
            </div>
            <div class="text-right">
              <div class="info-text">
                <span class="text-lg" style="color: #4f6466;">
                  رقم التليفون
                </span>
                <h2>{{ PatientPayment.phoneNumber }}</h2>
              </div>
            </div>
            <div class="col text-right">
              <div class="info-text">
                <span class="col text-lg" style="color: #4f6466;">
                  رقم المريض
                </span>
                <h2 class="text-center">
                  {{ PatientPayment.examinationNumber }}
                </h2>
              </div>
            </div>
            <div class="text-right">
              <div class="info-text">
                <span class="text-lg" style="color: #4f6466;">تاريخ الكشف</span>
                <h2>{{ PatientPayment.examinationDate }}</h2>
              </div>
            </div>
          </div>
          <div class="text-right py-3 px-4 mt-3">
            <span
              class="text-lg"
              style="
                color: #4f6466;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 400;
              "
            >
              نوع الكشف
            </span>
            <h2
              style="
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 400;
              "
            >
              {{ PatientPayment.examinationType }}
            </h2>
          </div>

          <div class="text-right mt-[-10px] px-4 mb-4 d-flex">
            <div>
              <span
                class="text-lg"
                style="
                  color: #4f6466;
                  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                  font-weight: 400;
                "
              >
                سعر الكشف
              </span>
              <h2
                style="
                  font-size: 18px;
                  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                  font-weight: 500;
                "
              >
                {{ PatientPayment.examinationPrice }}
              </h2>
            </div>

            <div class="mt-3 mr-5" *ngIf="!paymentSuccess">
              <span
                class="absolute mt-[-22px] mr-1"
                style="
                  color: #4f6466;
                  font-size: 15px;
                  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                "
              >
                دفع
              </span>
              <input
                class="ml-3 mat-elevation-z5 mt-1 h-[40px] rounded-md text-lg w-[150px] text-center"
                style="border: 1px solid #4f6466;"
                [(ngModel)]="paid"
                name="paid"
                (keyup)="
                  paid > PatientPayment.examinationPrice
                    ? (count = 0 && (paid = PatientPayment.examinationPrice))
                    : (count = PatientPayment.examinationPrice - paid)
                "
              />
            </div>
            <div class="mt-3 mr-4" *ngIf="!paymentSuccess">
              <span
                class="absolute mt-[-22px] mr-1"
                style="
                  color: #4f6466;
                  font-size: 15px;
                  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                "
              >
                اجل
              </span>
              <input
                class="ml-3 mat-elevation-z5 mt-1 h-[40px] rounded-md text-lg w-[150px] text-center"
                style="border: 1px solid #4f6466;"
                [(ngModel)]="count"
                name="count"
              />
            </div>
            <div class="d-flex text-right px-4">
              <div *ngIf="paymentSuccess" class="text-right mr-3">
                <span
                  class="text-lg ml-5"
                  style="
                    color: #4f6466;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: 400;
                  "
                >
                  تم التحصيل
                </span>
                <h2
                  style="
                    font-size: 18px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: 500;
                  "
                >
                  {{ paid }}
                </h2>
              </div>
              <div *ngIf="paymentSuccess">
                <span
                  class="text-lg"
                  style="
                    color: #4f6466;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: 400;
                  "
                >
                  المبلغ المتبقي
                </span>
                <h2
                  style="
                    font-size: 18px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: 500;
                  "
                >
                  {{ count }}
                </h2>
              </div>
            </div>
          </div>
          <button
            *ngIf="!paymentSuccess"
            mat-raised-button
            class="applay mt-3"
            style="
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              font-weight: 400;
            "
            (click)="addPayment()"
          >
            تأكيد الدفع
          </button>
          <button
            *ngIf="!paymentSuccess"
            mat-button
            class="cancel mt-3"
            style="
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              font-weight: 400;
            "
            (click)="handleCancel()"
          >
            الغاء
          </button>
          <button
            *ngIf="paymentSuccess"
            mat-raised-button
            class="applay mt-3"
            style="
              background: #4f6466;
              color: #fff;
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              font-weight: 400;
            "
            (click)="
              handleAddpay(
                PatientPayment.patient_id,
                PatientPayment.examination_id,
                paid
              )
            "
          >
            <i class="fa fa-print fa-lg ml-2" aria-hidden="true"></i>
            تأكيد و طباعة
          </button>
          <button
            *ngIf="paymentSuccess"
            mat-raised-button
            class="applay mt-3 ml-5 mr-3"
            style="
              background: #4f6466;
              color: #fff;
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              font-weight: 400;
            "
            (click)="handleEdit()"
          >
            تعديل
          </button>
        </ng-container>
      </nz-modal>

      <nz-modal
        [nzWidth]="600"
        class="mat-elevation-z5"
        [nzStyle]="
          isdeleted
            ? { 'margin-top': '200px ' }
            : { 'margin-top': '60px ' }
        "
        [(nzVisible)]="isEdit"
        nzTitle=" تعديل الحجز"
        (nzOnCancel)="handleCancel()"
        (nzOnOk)="handleOk()"
      >
        <ng-container *nzModalContent>
          <div
            class="row pt-4 pb-2 mat-elevation-z5 modalcontentEdit"
            *ngIf="!isdeleted"
          >
            <div class="col text-right">
              <div class="info-text w-[200px]">
                <span class="text-lg" style="color: #4f6466;">الاسم</span>
                <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight: 500;margin-top: 10px;">{{ Examination.name }}</h2>
              </div>
            </div>

            <div class="col text-right w-[200px] mr-3">
              <div class="info-text">
                <span class="text-lg" style="color: #4f6466;">
                  رقم التليفون
                </span>
                <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight: 500;margin-top: 10px;">{{ Examination.phone_number }}</h2>
              </div>
            </div>

            <div class="col info-text text-right w-[200px] ">
              <span class="text-lg" style="color: #4f6466; display: flex;">
                نوع الكشف
              </span>
              <mat-select
                class="select mat-elevation-z5 text-lg"
                style="color: #4f6466;"
                placeholder=" نوع الكشف"
                [(value)]="Examination.examination_type"
              >
                <mat-option class="text-right" value="كشف جديد">
                  كشف جديد
                </mat-option>
                <mat-option class="text-right" value="اعادة كشف">
                  اعادة كشف
                </mat-option>
                <mat-option class="text-right" value="متابعة">
                  متابعة
                </mat-option>
              </mat-select>
              <!-- <nz-select  nzShowSearch  nzPlaceHolder=" نوع الكشف" ngModel="ExaminationPatient.examination_type" name="selectedValue">
                <nz-option nzValue="كشف جديد" nzLabel="كشف جديد"></nz-option>
                <nz-option nzValue="اعادة كشف" nzLabel="اعادة كشف"></nz-option>
                <nz-option nzValue="متابعة" nzLabel="متابعة"></nz-option>
              </nz-select> -->
            </div>

            <div class="col info-text text-right w-[200px] mr-5">
              <div>
                <span class="text-lg" style="color: #4f6466;">سعر الكشف</span>
                <input
                  class="mat-elevation-z5 form-control w-[190px] mt-[10px]"
                  style="
                    border: 1px solid #4f6466;
                    background: #fff;
                    border-radius: 12px;
                    color: #4f6466;
                  "
                  type="text"
                  placeholder="سعر الكشف"
                  [(ngModel)]="Examination.price"
                  value="updatedValue.price"
                />
              </div>
            </div>
            <div class="col info-text text-right w-[200px]">
              <div>
                <span class="text-lg" style="color: #4f6466;">تاريخ الحجز</span>
                <input
                  class="date form-control mat-elevation-z5 mt-[13px]"
                  style="border: 1px solid #4f6466;"
                  placeholder="تاريخ الكشف"
                  [matDatepicker]="picker"
                  [value]="Examination.date"
                  [(ngModel)]="Examination.date"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <!-- <nz-date-picker [(ngModel)]="Examination.date"  value="updatedValue.date"  nzPlaceHolder="تاريخ الكشف" [nzSize]="size"> <span nz-icon nzType="calendar" nzTheme="twotone"></span></nz-date-picker> -->
              </div>
            </div>

            <div class="col text-right mr-3">
              <div class="info-text w-[200px]">
                <span class="text-lg" style="color: #4f6466;">رقم الكشف</span>
                <h2 class="mt-[30px] mr-4">{{ Examination.number }}</h2>
              </div>
            </div>

            <div class="float-left mr-auto mt-4">
              <button
                mat-raised-button
                class="delete"
                color="warn"
                (click)="forDelete()"
              >
                حذف
              </button>
              <button
                mat-button
                class="editModal"
                (click)="SaveEdit(Examination.examination_id, Examination)"
              >
                تعديل
              </button>
            </div>
          </div>

          <div class="DeleteModel" *ngIf="isdeleted">
            <h1
              class="w-full text-4xl text-center"
              style="
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 400;
              "
            >
              هل تريد حذف الحجز
            </h1>
            <div class="mt-4">
              <button
                mat-raised-button
                class="delete mr-4"
                color="warn"
                (click)="deletePatient(Examination.examination_id)"
              >
                حذف
              </button>
              <button
                mat-button
                class="cancel mr-3 px-4"
                (click)="isdeleted = false"
              >
                الغاء
              </button>
            </div>
          </div>
        </ng-container>
      </nz-modal>
    </div>
  </mat-card-content>
</mat-card>
